{% extends 'themes/base_admin.html.twig' %}

{% block title %}Midifier produits{% endblock %}

{% block description %}Midifier produits{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block select2 %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#product_form_categories').select2();
        });
    </script>
{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Modifier ce produit</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-10 col-lg-6 mx-auto">
                {{form_start(form)}}
                    <div class="mb-3">
                        <label for="product_form_name">Nom <span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.name)}}</div>
                        {{form_widget(form.name, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="product_form_code">Code <span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.code)}}</div>
                        {{form_widget(form.code, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="product_form_brand">Marque</label>
                        <div class="text-danger">{{form_errors(form.brand)}}</div>
                        {{form_widget(form.brand, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="product_form_sellingPrice">Prix de vente <span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.sellingPrice)}}</div>
                        <div class="input-group">
                            {{form_widget(form.sellingPrice, {'attr': {'class': 'form-control'}})}}
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="product_form_quantity">Stock disponible <span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.quantity)}}</div>
                        {{form_widget(form.quantity, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="product_form_categories">Les catégories <span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.categories)}}</div>
                        {{form_widget(form.categories, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="row mb-3 text-center">
                        <div class="col-md-6">
                            {{form_widget(form.isNewArrival)}}
                            <div class="text-danger">{{form_errors(form.isNewArrival)}}</div>
                            <label for="product_form_isNewArrival">Nouvel'arrivage</label>
                        </div>
                        <div class="col-md-6">
                            {{form_widget(form.isBetterSeller)}}
                            <div class="text-danger">{{form_errors(form.isBetterSeller)}}</div>
                            <label for="product_form_isBetterSeller">Meilleur vente</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="product_form_isAvailable">Disponible</label>
                        <div class="text-danger">{{form_errors(form.isAvailable)}}</div>
                        {{form_widget(form.isAvailable, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 text-center">
                            <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('admin_product_thumb') }}" alt="{{ product.name }}" >
                        </div>
                        <div class="col-md-6">
                            <label>L'image du produit <span class="text-danger">*</span></label>
                            <div class="text-danger">{{form_errors(form.imageFile)}}</div>
                            {{form_widget(form.imageFile, {'attr': {'class': 'form-control mb-3'}})}}
                        </div> 
                    </div>
                    <div class="mb-3">
                        <label>Courte description <span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.shortDescription)}}</div>
                        {{form_widget(form.shortDescription, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <label>Longue description description</label>
                        <div class="text-danger">{{form_errors(form.longDescription)}}</div>
                        {{form_widget(form.longDescription, {'attr': {'class': 'form-control', 'rows': 6}})}}
                    </div>
                    <div class="mb-3">
                        <input formnovalidate type="submit" class="btn btn-primary w-100" value="Modifier">
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}