{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block description %}Catalog{% endblock %}

{% block keywords %}ElectroTech, Catalog, Produits{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des produits</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {# Filtre #}
            </div>
            <div class="col-md-10">
                {% for row in products|batch(3) %}
                    <div class="row">
                        {% for product in row %}
                            <div class="col-md-4">
                                <div class="card">
                                    <a class="text-center" href="{{path('visitor_catalog_product_show', {'id':product.id, 'slug':product.slug})}}">
                                        <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('visitor_catalog_product_thumb') }}" class="w-100 h-100" alt="{{product.name}}">
                                    </a>
                                    <div class="card-body">
                                        <a class="text-center text-decoration-none text-dark" href="{{path('visitor_catalog_product_show', {'id':product.id, 'slug':product.slug})}}">
                                            <p class="card-title">{{product.name}}</p>
                                        </a>
                                        <p class="card-subtitle mb-2 text-muted ">Marque: {{product.brand}}</p>
                                        <p class="card-subtitle mb-2 text-muted ">Prix: {{product.sellingPrice}} euros.</p>
                                        <p class="card-text">
                                            <a href="{{path('visitor_cart_add', {'id':product.id})}}" class="btn btn-sm btn-primary">Ajouter au panier</a>
                                            <a href="{{path('visitor_catalog_product_show', {'id':product.id, 'slug':product.slug})}}" class="btn btn-sm btn-secondary">Voir les détails</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}