{% extends "themes/base_visitor.html.twig" %}

{% block title %}Recherche{% endblock %}

{% block description %}{% endblock %}

{% block keywords %}{% endblock %}

{% block main %}
    <h1 class="text-center my-5 display-5">Recherche</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h2>Filtre</h2>
            </div>
            <div class="col-md-10">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="card m-3" style="width:18rem;">
                                <a class="text-decoration-none" href="{{path('visitor_catalog_product_show', {'id': product.id, 'slug': product.slug})}}">
                                    <img src="{{vich_uploader_asset(product, 'imageFile')}}" class="card-img-top img-fluid" alt="{{product.name}}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.name}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted ">{{product.brand}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted ">{{product.sellingPrice}} euros</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}