<!DOCTYPE html>
<html lang="fr">
    <head>
        {# Encodage des caractères #}
        <meta charset="UTF-8">

        {# Minimum de responsive design #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Le titre de la page #}
        <title>{% block title %}{% endblock %} - ElectroTech</title>

        {# La description de la page #}
        <meta name="description" content="{% block description %}{% endblock %}">

        <meta name="keywords" content="{% block keywords %}{% endblock %}">

        {# La favicon #}
        {# <link rel="apple-touch-icon" sizes="180x180" href="{{asset('apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('favicon-16x16.png')}}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{asset('android-chrome-192x192.png')}}">
        <link rel="icon" type="image/png" sizes="512x512" href="{{asset('android-chrome-512x512.png')}}">
        <link rel="manifest" href="{{asset('site.webmanifest')}}">
        <meta name="theme-color" content="#ffffff"> #}

        {# Font awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Google Font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

        {# Chargement de bootstrap de de ma feuille de style #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# Chargement du js #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <body>

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="container mb-5">
            <div class="row">
                <div class="col-md-8 col-lg-4 mx-auto">
                    <div class="text-center py-3">
                        <a class="brand text-decoration-none text-dark fs-1" href="{{path('visitor_welcome_index')}}">
                            Electro<span class="text-primary">Tech</span>
                        </a>
                    </div>
                    <form method="post">
                        {% if error %}
                            <div class="text-center alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>         
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <div class="mb-3">
                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-6 mt-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                </label>
                            </div>
                            <div class="col-md-6 mt-3">
                                <a href="{{path('visitor_authentication_forgot_password_request')}}">Réinitialisation du mot de passe</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-lg btn-primary" type="submit">
                                Connexion
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
